<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost:8002</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Movilway.API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UtibaRegistrationConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.183.35;Initial Catalog=UtibaRegistration;Integrated Security=False;User ID=onedev;Password=..0n3w4y.." includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UtibaRegistrationConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.183.35;Initial Catalog=UtibaRegistration;Integrated Security=False;User ID=onedev;Password=..0n3w4y.." MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BASEConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.183.35;Initial Catalog=BASE_DEV;User ID=dwhuser;Password=D10$movil" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BASEConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.183.35;Initial Catalog=BASE_DEV;User ID=dwhuser;Password=D10$movil" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="COMMERCIAL_DB" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.183.35;Initial Catalog=COMMERCIAL_DEV;User ID=dwhuser;Password=D10$movil" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\COMMERCIAL_DB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.183.35;Initial Catalog=COMMERCIAL_DEV;User ID=dwhuser;Password=D10$movil;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="utibaMarket" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.180.41)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=mexico)));User Id=UMARKETADM;Password=Utiba99;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\utibaMarket_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.180.41)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=mexico)));User Id=UMARKETADM;Password=Utiba99;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LOYALTY_DB" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.183.35;Initial Catalog=LOYALTY_DEV;User ID=dwhuser;Password=D10$movil" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LOYALTY_DB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.183.35;Initial Catalog=LOYALTY_DEV;User ID=dwhuser;Password=D10$movil;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TRAN_DB" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.183.50;Initial Catalog=TRAN_ECU;User ID=dwhuser;Password=D10$movil" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TRAN_DB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.183.50;Initial Catalog=TRAN_ECU;User ID=dwhuser;Password=D10$movil;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SECURE_DB" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.183.35;Initial Catalog=SECURE_PER_DEV;User ID=dwhuser;Password=D10$movil" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SECURE_DB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.183.35;Initial Catalog=SECURE_PER_DEV;User ID=dwhuser;Password=D10$movil;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MacroProductosEntities" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Movilway.API.Data.MacroProduct.MacroProductosEntities, Movilway.API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NotiwayEntities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Movilway.API.Data.Notiway.NotiwayEntities, Movilway.API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CASH472_DB" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.16.183.35;Initial Catalog=CASH472_CL_DEV;User ID=dwhuser;Password=D10$movil;Connect Timeout=90" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CASH472_DB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=172.16.183.35;Initial Catalog=CASH472_CL_DEV;User ID=dwhuser;Password=D10$movil;Timeout=90;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Transaction_DB" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Movilway.API.Service.ExtendedApi.Provider.Payment.Model.Transaction_DB, Movilway.API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BASEConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CASH472_DB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COMMERCIAL_DB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LOYALTY_DB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MacroProductosEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NotiwayEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SECURE_DB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Transaction_DB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TRAN_DB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)utibaMarket-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UtibaRegistrationConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>