<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>


  <appSettings>

    <!-- Propiedades para el API en General -->
    <add key="CountryID" value="3"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UserAgent" value="Movilway.API"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="LogFileName" value="Movilway.API-GT-DEV.EXTENDED"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogFileNameOldApi" value="Movilway.API-GT-DEV"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- Propiedades para Registro de Agentes -->
    <add key="TempWorkingFolder" value="C:\Api\Dev\Guatemala\RegisterAgentFiles\WorkFolder\"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReadyFilesFolder" value="C:\Api\Dev\Guatemala\RegisterAgentFiles\ReadyFolder\"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AgentsPerFile" value="3"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DefaultAgentGroupID" value="1102"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FileRecipientsEmail" value="itopolnjak@movilway.com,rpinango@movilway.com"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NotificationsRemitent" value="api-gt-dev@movilway.com"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>


    <!-- Propiedades para TopUp -->
    <add key="TopUp_Timeout_tigo" value="30" xdt:Transform="Insert"/>
    <add key="TopUp_Timeout_movistar" value="30" xdt:Transform="Insert"/>
    <add key="TopUp_Timeout_comcel" value="30" xdt:Transform="Insert"/>
    <add key="TopUp_Timeout_directv" value="30" xdt:Transform="Insert"/>

  </appSettings>

  <!-- Utiba -->
  <system.serviceModel>
    <client>
      <endpoint name="UMarketSC" address="http://172.16.181.207:8280/services/umarketsc"
                xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)"/>
    </client>
  </system.serviceModel>

  <!-- Aseguramos que no queden configuraciones de Fiddler -->
  <system.net xdt:Transform="RemoveAll"/>
  
</configuration>