<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Custom configuration sections-->
  <configSections>
    <section name="Movilway.API.Config" type="Movilway.API.Config.ApiConfiguration, Movilway.API"/>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Movilway.API.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <!-- API Configuration -->
  <Movilway.API.Config xmlns="urn:Movilway.API.Config">
    <!-- Esta sección debe estar encriptada ya que contiene usuarios con capacidades espciales! -->
    <managementUsers>
      <user role="adjustmentsAgent" agent="Ivan_uno" password="123456"/>
    </managementUsers>
    <!--  Es necesario que todas las entidades que trabajan con IBank esten configuradas aqui, sino no se van a poder hacer
          los ajustes correspondientes cuando una transacción sea aprobada. -->
    <iBankEntities>
      <iBankEntity name="proinco" agent="proinco_mw" url="http://172.16.181.35:38838/Proinco.svc"/>
    </iBankEntities>
  </Movilway.API.Config>
  <connectionStrings>
    <add name="UtibaRegistrationConnectionString"
      connectionString="Data Source=172.16.183.35;Initial Catalog=UtibaRegistration;Integrated Security=False;User ID=onedev;Password=..0n3w4y.."
      providerName="System.Data.SqlClient"/>
    <add name="BASEConnectionString" connectionString="Data Source=172.16.183.35;Initial Catalog=BASE_DEV;User ID=dwhuser;Password=D10$movil"
      providerName="System.Data.SqlClient"/>
    <add name="utibaMarket"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.180.41)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=mexico)));User Id=UMARKETADM;Password=Utiba99;"/>
    <add name="TRAN_DB" connectionString="Data Source=172.16.183.50;Initial Catalog=TRAN_ECU;User ID=dwhuser;Password=D10$movil;"
      providerName="System.Data.SqlClient"/>
    <!--<add name="TRAN_DB" connectionString="Data Source=172.16.183.50;Initial Catalog=TRAN_ECU;User ID=ec_dba;Password=123456;" providerName="System.Data.SqlClient" />-->
    <!--<add name="TRAN_DB" connectionString="Data Source=172.16.183.50;Initial Catalog=TRAN_MEX;User ID=mx_dba;Password=123456;" providerName="System.Data.SqlClient" />-->
    <add name="MacroProductosEntities"
      connectionString="metadata=res://*/Data.MacroProduct.MacroProductDbModel.csdl|res://*/Data.MacroProduct.MacroProductDbModel.ssdl|res://*/Data.MacroProduct.MacroProductDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.183.35;initial catalog=MACROPRODUCT_DEV;persist security info=True;user id=dwhuser;password=D10$movil;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <!--<add name="MacroProductosEntities" connectionString="metadata=res://*/Data.MacroProduct.MacroProductDbModel.csdl|res://*/Data.MacroProduct.MacroProductDbModel.ssdl|res://*/Data.MacroProduct.MacroProductDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.181.35;initial catalog=MACROPRODUCT_DEV;persist security info=True;user id=dwhuser;password=D10$movil;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="NotiwayEntities"
      connectionString="metadata=res://*/Data.Notiway.Notiway.csdl|res://*/Data.Notiway.Notiway.ssdl|res://*/Data.Notiway.Notiway.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.181.35;initial catalog=NOTIWAY_DEV;persist security info=True;user id=dwhuser;password=D10$movil;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="COMMERCIAL_DB" connectionString="Data Source=172.16.183.35;Initial Catalog=COMMERCIAL_DEV;User ID=dwhuser;Password=D10$movil;"
      providerName="System.Data.SqlClient"/>
    <add name="LOYALTY_DB" connectionString="Data Source=172.16.183.35;Initial Catalog=LOYALTY_DEV;User ID=dwhuser;Password=D10$movil;"
      providerName="System.Data.SqlClient"/>
    <add name="SECURE_DB" connectionString="Data Source=172.16.183.35;Initial Catalog=SECURE_PER_DEV;User ID=dwhuser;Password=D10$movil;"
      providerName="System.Data.SqlClient"/>
    <add name="CASH472_DB" connectionString="Data Source=172.16.183.35;Initial Catalog=CASH472_CL_DEV;User ID=dwhuser;Password=D10$movil;Timeout=90;"
      providerName="System.Data.SqlClient"/>
    <add name="MacroProductosEntities"
      connectionString="metadata=res://*/Data.MacroProduct.MacroProductDbModel.csdl|res://*/Data.MacroProduct.MacroProductDbModel.ssdl|res://*/Data.MacroProduct.MacroProductDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.183.35;initial catalog=MACROPRODUCT_DEV;persist security info=True;user id=dwhuser;password=D10$movil;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="NotiwayEntities"
      connectionString="metadata=res://*/Data.Notiway.Notiway.csdl|res://*/Data.Notiway.Notiway.ssdl|res://*/Data.Notiway.Notiway.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.181.35;initial catalog=NOTIWAY_DEV;persist security info=True;user id=dwhuser;password=D10$movil;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <!-- BD de Transacciones PSE,TDC,ETC de momento sólo existe en Colombia-->
    <add name="Transaction_DB"
      connectionString="metadata=res://*/Service.ExtendedApi.Provider.Payment.Model.Transaction_DB.csdl|res://*/Service.ExtendedApi.Provider.Payment.Model.Transaction_DB.ssdl|res://*/Service.ExtendedApi.Provider.Payment.Model.Transaction_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.183.35;initial catalog=CONCILIACIONES_CO;user id=dwhuser;password=D10$movil;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>

    <!-- Propiedades para el API en General -->

    <!-- vlidacion de ips -->
    <add key="IP_TABLE_FILE_H2H" value="C:\IPTABLES\IPTABLES.txt"/>
    <add key="VALID_IPS_H2H" value="True"/>



    <!-- CONDIFURACION PARA UPDATE AGENT-->
    <!-- indica si hay comision por venta-->
    <add key="COMISSION_BY_SALES" value="true"/>
    <add key="VALIDATE_COMISSION_BY_SALES" value="true"/>
    <add key="CountryID" value="4"/>
    <add key="UserAgent" value="Movilway.API"/>
    <add key="LogFileName" value="Movilway.API-DEV-CHI"/>
    <add key="LogFileNameOldApi" value="Movilway.API-DEV-CHI.OldVersion"/>
    <add key="LogFileFolder" value="C:\logs\"/>
    <add key="LoggingLevel" value="3"/>
    <add key="LogFileNameDateFormat" value="-yyyyMMdd.log"/>
    <add key="smtpServerHost" value="api-ve-dev.movilway.net"/>
    <add key="smtpServerPort" value="25"/>
    <!-- Propiedades para Cache -->
    <add key="UtibaSessionTTL" value="10"/>
    <!-- Propiedades para SalesInterface -->
    <add key="DeciveTypeForNewSaleWithExternalID" value="3"/>
    <!-- Propiedades para D2 -->
    <!--CouponType
        0=Multiple use – unused money can be collected. This is the default coupon_type if not provided.
        1=Single use – unused money discarded
        2=Single use – collected amount must match allocated amount
      -->
    <add key="DefaultCouponType" value="0"/>
    <add key="DefaultWalletType" value="1"/>
    <!-- Propiedades para MoviPayment -->
    <!--CouponType
        0=Multiple use – unused money can be collected. This is the default coupon_type if not provided.
        1=Single use – unused money discarded
        2=Single use – collected amount must match allocated amount
      -->
    <add key="CouponWalletType" value="1"/>
    <add key="CouponExpiryDays" value="180"/>
    <add key="DefaultCouponTypeMoviPayment" value="0"/>
    <!-- Propiedades para Registro de Agentes -->
    <add key="TempWorkingFolder" value="C:\Api\Dev\RegisterAgentFiles\WorkFolder\"/>
    <add key="ReadyFilesFolder" value="C:\Api\Dev\RegisterAgentFiles\ReadyFolder\"/>
    <add key="AgentsPerFile" value="3"/>
    <add key="DefaultAgentGroupID" value="1102"/>
    <add key="FileRecipientsEmail" value="vleguizamo_ind@movilway.com"/>
    <add key="NotificationsRemitent" value="api-dev-local@movilway.com"/>
    <!-- Consolidacion de MoviPins -->
    <add key="ConsolidateUser" value="ivan_uno"/>
    <add key="ConsolidatePassword" value="123456"/>
    <add key="RedeemUser" value="04122172154"/>
    <add key="RedeemPassword" value="123456"/>
    <!-- Timeouts por operacion: (En caso de no estar especificado el timeout es de 60 segundos) -->
    <add key="BalanceTimeout" value="10"/>
    <add key="DefaultTimeout" value="30"/>
    <!-- NameSpaces de error en Utiba -->
    <add key="NameSpaces" value="soap,1;session,2;core,3;umarket,4"/>
    <add key="DefaultPlatform" value="1"/>
    <!-- Propiedades para MacroProductos -->
    <add key="MP_IncludeMinMax" value="Monto Abierto"/>
    <add key="MP_RequireQueryDeviceTypes" value="12,6"/>
    <add key="TraceEnvelopeRequest" value="false"/>
    <add key="TraceEnvelopeReply" value="false"/>
    <add key="id_net" value="001"/>
    <add key="AccountProinco" value="7764626"/>
    <add key="TransferAccount" value="463-300007-754"/>
    <add key="ProincoUser" value="1606"/>
    <add key="ProincoLogin" value="wmarchan"/>
    <add key="ProincoPwd" value="20130604"/>
    <add key="ProincoDeviceType" value="1"/>

    <add key="ProcessMigration" value="true"/>

    <add key="StandardOldPin" value="995631"/>
    <add key="StandardNewDeviceType" value="6"/>

    <add key="ProductMappings" value="movistar,5;claro,6"/>
    <add key="ReverseProductsID" value="12,13,14,15,16,20"/>

    <!-- Notiway -->
    <add key="NotiwayEnabled" value="true"/>

    <!-- TIEMPO DE CACHE SESSION ID-->
    <add key="SESSIONID_AVAILABLE" value="false"/>
    <!-- hh:mm:ss-->
    <add key="SESSIONID_TIME_CACHE" value="00:01:00"/>
    <add key="SESSIONID_MAXTIME" value="00:02:00"/>

    <!-- TIEMPO DE CACHE SALDO ID-->
    <add key="SALDO_AVAILABLE" value="true"/>
    <add key="SALDO_TIME_CACHE" value="00:03:00"/>

    <!-- CONFIGURACION PARA EL MANEJO DEL SALDO EN EL METODO GETTRANSACTION LA CUAL SOLO ESTA HABILITADA PARA ACCESOS POS-->
    <!-- HABILITA LA CONSULTA DE SALDO EN EL GETTRANSACTION-->
    <add key="GETTRANSACTION_BALANCE" value="true"/>
    <!-- CONFGURACION DEL CACHE DEL BALANCE POR USUARIO-->
    <add key="GETTRAN_BALANCE_AVAILABLE" value="true"/>
    <add key="GETTRAN_BALANCE_TIME_CACHE" value="00:03:00"/>



    <!-- TIEMPO DE CACHE REQUEST
    <add key="REQUEST_INITIAL_CAPACITY" value="32767" />-->
    <add key="REQUEST_AVAILABLE" value="False"/>
    <add key="REQUEST_TIME_CACHE" value="00:00:10"/>
    <!-- VALIDACION DOBLE REQUEST-->
    <add key="SECOND_REQUEST_TopUpProvider" value="true"/>
    <add key="SECOND_REQUEST_TransferProvider" value="true"/>



    <!-- SEGURIDAD TIEMPO DE CACHE PARA VERIFICAR EL COKIE TEMP-->
    <add key="DEVICE_TEMP_TIME" value="0:02:00"/>
    <add key="IP_TABLE_FILE_H2H" value="C:\IPTABLES\IPTABLES.txt"/>
    <add key="IS_AVAILABLE_SECURITY" value="True"/>
    <add key="API_SECURE_OPTIMIZATION" value="True"/>
    <add key="IS_AVAILABLE_SECURITY" value="True"/>
    <add key="TIME_TOKKEN_TopUpProvider" value="0:00:10"/>
    <add key="TIME_TOKKEN_TransferProvider" value="0:00:10"/>
    <add key="TIME_TOKKEN" value="0:00:10"/>
    <!-- PUEDE TENERSE UNA LLAVE GENERAL CUYO NOMBRE SE HA 'VERSION_APP' O POR ID PARA DIFERENCIAR
     ENTRE ULTIMAS VERSIONES DE APP 'VERSION_APP_X' -->
    <add key="VERSION_APP" value="1.0.0"/>


    <!-- CONFIGURACIÓN SMS TELEMO VENEZUELA -->
    <add key="SMSDispatch" value="http://localhost:12000/DispatchSMSwebservice.asmx"/>
    <add key="TelemoClientId" value="0d4c4b966dc711fce3fd800335a1b16f"/>
    <add key="TelemoCustomerId" value="DIRECTV"/>
    <add key="TelemoMessageTemplate" value="Recarga Recibida. Saldo Recibido: {0}. Su Nuevo Saldo: {1}. {2}. {3}"/>
    <add key="TelemoPhoneLength" value="11"/>
    <add key="SendTransferSMS" value="true"/>
    <!--//localhost:12000/telemo.xml"/-->
    <!---->

    <add key="IncludeTopupMessageExtended" value="true"/>

    <!-- CONFIGURACIÓN MultiPay - 472 -->
    <!--<add key="MultiPayUsername" value="9003519281" />
    <add key="MultiPayPassword" value="Movil12*" />
    <add key="MultiPayTerminal" value="1025" />
    <add key="MultiPayNitRed" value="9003519281" />
    <add key="MultiPayTripeDesKey" value="0123456789ABCDEFFEDCBA9876543210" />
    <add key="MultiPayTimeout" value="43000" />
    <add key="MultiPayTopUpMno" value="83" />
    <add key="MultiPayReverseTopUpMno" value="84" />-->
    <add key="MultiPayUsername" value="22222222"/>
    <add key="MultiPayPassword" value="qaZX//78"/>
    <add key="MultiPayTerminal" value="00000490"/>
    <add key="MultiPayNitRed" value="9003729638"/>
    <add key="MultiPayTripeDesKey" value="0123456789ABCDEFFEDCBA9876543210"/>
    <add key="MultiPayTimeout" value="43000"/>
    <add key="MultiPayTopUpMno" value="83"/>
    <add key="MultiPayReverseTopUpMno" value="84"/>
    <add key="MailOficialCumplimiento" value="rpinango@movilway.com"/>
    <add key="SMSsGirosEnabled" value="false"/>
    <!-- FIN CONFIGURACIÓN MultiPay - 472 -->

    <!-- CONFIGURACION TOPUP TIKETE -->
    <add key="ApiTicketEnabled" value="true"/>
    <!-- ticket de sencillito-->
    <!-- 2016-09-28T17:42:48 -->
    <add key="ApiTicket_dateformat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="aptck6_44"
      value="        MOVILWAY        ;   PAGO DE SERVICIOS    ;  {dictionary.AgenciaNombre};;   FECHA TRANSACCION    ;   {dictionary.Fecha};; NRO ID: {dictionary.Destino};; CONVENIO:{dictionary.convenio};; MONTO PAGADO: ${dictionary.monto};; CARGO SERVICIO: $0;; ID TRANSACCION: {dictionary.TransaccionOperadora};; Servicio de Recaudacion; A traves de Sencillito ;;"/>
    <add key="aptck_defproduct" value="44"/>
    <!-- CONFIGURACIÓN SOS IT API -->
    <!--<add key="SOSITURLAPI" value="http://172.16.161.21:8080/sdpapi/request/" />
    <add key="TECHNICIAN_KEY" value="BB85282B-871F-4635-AA2F-83DE46D8C7EA" />-->
    <add key="SOSITURLAPI" value="https://soporte.celistics.com/sdpapi/request/"/>
    <add key="TECHNICIAN_KEY" value="E32B19F7-D138-4D2A-A051-13C6B6E6F9FC"/>
    <add key="TimeOutSOSIT" value="26000"/>
    <!-- FIN CONFIGURACIÓN SOS IT API -->

    <!-- Configuración del mail -->
    <add key="MailFrom" value="info@movilway.com"/>
    <add key="MailDisplayName" value="Sistema de Notificación Movilway"/>
    <add key="MailServer" value="localhost"/>
    <add key="MailPort" value="25"/>
    <add key="MailEnableSsl" value="false"/>
    <add key="MailIsBodyHtml" value="true"/>
    <!-- FIN Configuración del mail -->

    <add key="CheckAccountsInRoot" value="false"/>
    <!-- Configuración PSE CO-->
    <add key="PSEUser" value="MOVILWAY"/>
    <add key="PSEPassword" value="379085"/>
    <add key="PSEMD5Key" value="ff4aa368168ff3319f3743def305bafa"/>
    <add key="PSEBaseHost" value="https://puntodepago.plataformadepago.com:443/secure/webservices/WS_PSE.do"/>
    <add key="PSESoapActionBase" value="https://puntodepago.plataformadepago.com"/>
    <add key="BankIgnoreList" value="14"/>
    <add key="PSEBankId" value="14"/>
    <add key="CheckAccountsInRoot" value="false"/>

    <add key="ReversesBranchesAllowed" value="19"/>
    <add key="URL_MO" value="https://mo-services-movilway-ecu-private-alpha.moprestamo.com"/>
  
    <!-- 
    
    Categoria tributaria 
    1	Agencias Proesa
    2	Sub Distribuidor
    3	Detallista
    4	Punto de venta
    
    Roles proesa
    15	Admin Proesa                 
    17	Sub Distribuidor    
    18	Detallista          
     -->
    <add key="DEF_ROLES" value="1=15;2=17;3=18;4=18"/>

  </appSettings>
  <location inheritInChildApplications="false">
    <system.web>
      <httpRuntime executionTimeout="1" maxRequestLength="32768"/>
      <sessionState timeout="5"/>
      <!--<httpModules>
        <add name="ApiHttpModule" type="ApiHttpModule"/>
      </httpModules>-->
    </system.web>
    <system.serviceModel>
      <services>
        <service name="Movilway.API.Service.ExtendedApi.Public.ExtendedAPI">
          <!--<endpoint contract="Movilway.API.Service.ExtendedApi.Public.IExtendedAPI" address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" bindingNamespace="http://api.movilway.net" />-->
          <endpoint contract="Movilway.API.Service.ExtendedApi.Public.IExtendedAPI" address="" binding="basicHttpBinding"
            bindingNamespace="http://api.movilway.net"/>
        </service>
        <service name="Movilway.API.Service.ExtendedApi.Trusted.TrustedExtendedAPI">
          <!--<endpoint contract="Movilway.API.Service.ExtendedApi.Trusted.ITrustedExtendedAPI" address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" bindingNamespace="http://api.movilway.net" />-->
          <endpoint contract="Movilway.API.Service.ExtendedApi.Trusted.ITrustedExtendedAPI" address="" binding="basicHttpBinding"
            bindingNamespace="http://api.movilway.net"/>
        </service>
        <service name="Movilway.API.Service.ExtendedApi.Private.PrivateExtendedAPI">
          <!--<endpoint contract="Movilway.API.Service.ExtendedApi.Private.IPrivateExtendedAPI" address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" bindingNamespace="http://api.movilway.net" />-->
          <endpoint contract="Movilway.API.Service.ExtendedApi.Private.IPrivateExtendedAPI" address="" binding="basicHttpBinding"
            bindingNamespace="http://api.movilway.net"/>
        </service>
        <service name="Movilway.API.Service.Stock.Stock">
          <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://api.movilway.net" contract="Movilway.API.Service.Stock.IStock"/>
        </service>
        <service name="Movilway.API.Service.D2.D2">
          <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://api.movilway.net" contract="Movilway.API.Service.D2.ID2"/>
        </service>
        <service name="Movilway.API.Service.Registration.Registration">
          <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://api.movilway.net" contract="Movilway.API.Service.Registration.IRegistration"/>
        </service>
        <service name="Movilway.API.Service.Management.Management">
          <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://api.movilway.net" contract="Movilway.API.Service.Management.IManagement"/>
        </service>
        <service name="Movilway.API.Service.MoviPin.MoviPin">
          <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://api.movilway.net" contract="Movilway.API.Service.MoviPin.IMoviPin"/>
        </service>
        <service name="Movilway.API.Service.Sales.Sales">
          <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://api.movilway.net" contract="Movilway.API.Service.Sales.ISales"/>
        </service>
        <service name="Movilway.API.Service.ExtendedApi.Macro.MacroProductApi">
          <endpoint address="" binding="basicHttpBinding" name="MacroProductSoapEndpoint"
            contract="Movilway.API.Service.ExtendedApi.Macro.IMacroProductApiSoap"/>
          <endpoint address="rest" behaviorConfiguration="MacroProductRestEndpointBehavior" binding="webHttpBinding" name="WCFRestEndpoint"
            contract="Movilway.API.Service.ExtendedApi.Macro.IMacroProductApiRest"/>
        </service>
        <service name="Movilway.API.Service.ExtendedApi.Notiway.NotiwayApi">
          <endpoint address="" binding="basicHttpBinding" name="BasicHttpBinding_INotiwayApi"
            contract="Movilway.API.Service.ExtendedApi.Notiway.INotiwayApiSoap"/>
          <endpoint address="rest" behaviorConfiguration="restBehavior" binding="webHttpBinding" name="webHttpBinding_INotiwayApiRest"
            contract="Movilway.API.Service.ExtendedApi.Notiway.INotiwayApiRest"/>
        </service>
        <service name="Movilway.API.Service.ExtendedApi.Cash472.Cash472Api">
          <endpoint address="" binding="basicHttpBinding" name="BasicHttpBinding_ICash472Api"
            contract="Movilway.API.Service.ExtendedApi.Cash472.ICash472ApiSoap"/>
          <endpoint address="rest" behaviorConfiguration="restBehavior" binding="webHttpBinding" name="webHttpBinding_ICash472ApiRest"
            contract="Movilway.API.Service.ExtendedApi.Cash472.ICash472ApiRest"/>
        </service>
        <service name="Movilway.API.Service.ExtendedApi.SOSIT.SOSITApi">
          <endpoint address="" binding="basicHttpBinding" name="BasicHttpBinding_SOSITApi" contract="Movilway.API.Service.ExtendedApi.SOSIT.ISOSITApiSoap"/>
        </service>
        <service name="Movilway.API.Service.ExtendedApi.Payment.PaymentApi">
          <endpoint address="" binding="basicHttpBinding" name="BasicHttpBinding_Payment" contract="Movilway.API.Service.ExtendedApi.Payment.IPaymentApi"/>
        </service>
      </services>
      <bindings>
        <basicHttpBinding>
          <binding name="UMarketSC" maxReceivedMessageSize="2147483647"/>
          <binding name="BasicHttpBinding_IIBankService"/>
          <binding name="TransportSecurity">
            <security mode="Transport">
              <transport clientCredentialType="None"/>
            </security>
          </binding>
          <binding name="Service1Soap"/>
          <binding name="SmsApi"/>
          <binding name="BasicHttpBinding_queries"/>
          <binding name="PSEBinding">
            <security mode="Transport"/>
          </binding>
          <binding name="CustomBinding">
            <security mode="Transport"/>
          </binding>
          <binding name="PSEBinding1"/>
          <binding name="ProcesarTarjetaCreditoBinding">
            <security mode="Transport"/>
          </binding>
          <binding name="ProcesarTarjetaCreditoBinding1"/>
        </basicHttpBinding>
        <webHttpBinding>
          <binding name="webHttpTransportSecurity">
            <security mode="Transport"/>
          </binding>
        </webHttpBinding>
      </bindings>
      <extensions>
        <behaviorExtensions>
          <add name="includeHttpUserAgentExtension"
            type="Movilway.API.Service.ExtendedApi.Provider.Utiba.Custom.IncludeHttpUserAgentBehaviorExtensionElement, Movilway.API"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="utibaClientBehavior">
            <!-- <includeHttpUserAgentExtension /> -->
          </behavior>
          <!-- Behavior para el Endpoint de peticiones REST de MacroProduct-->
          <behavior name="MacroProductRestEndpointBehavior">
            <webHttp helpEnabled="true"/>
          </behavior>
          <behavior name="restBehavior">
            <webHttp helpEnabled="true"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
      <client>
        <endpoint address="http://172.16.181.146:8280/services/umarketsc" behaviorConfiguration="utibaClientBehavior" binding="basicHttpBinding"
          bindingConfiguration="UMarketSC" contract="Utiba.UMarketSC" name="UMarketSC"/>
        <endpoint address="http://localhost:38838/Proinco.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIBankService"
          contract="IBank.IIBankService" name="BasicHttpBinding_IIBankService"/>
        <endpoint address="http://desarrollo.multipay.com.co:559/Service1.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap"
          contract="MultiPay472.Service1Soap" name="Service1Soap"/>
        <endpoint address="http://localhost:27067/SmsApi.svc" binding="basicHttpBinding" bindingConfiguration="SmsApi" contract="SmsApi.ISmsApiSoap"
          name="SmsApi"/>
        <endpoint address="http://localhost:8002/PeruGmoney/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_queries"
          contract="QueryPaymentReference.queries" name="BasicHttpBinding_queries"/>
        <endpoint address="https://puntodepago.plataformadepago.com:443/secure/webservices/ProcesarTarjetaCredito.do" binding="basicHttpBinding"
          bindingConfiguration="ProcesarTarjetaCreditoBinding" contract="TDC_WS.ProcesarTarjetaCreditoPortType" name="ProcesarTarjetaCreditoPort"/>
        <endpoint address="https://www.enlineapagos.com:443/secure/webservices/WS_PSE.do" binding="basicHttpBinding" bindingConfiguration="PSEBinding"
          contract="PSE_WS.PSEPortType" name="PSEPort"/>
      </client>
    </system.serviceModel>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
    <system.diagnostics>
      <!--      <trace autoflush="true" />
      <sources>
        <source name="System.Net.Sockets">
          <listeners>
            <add name="TraceFile" />
          </listeners>
        </source>
      </sources>
      <sharedListeners>
        <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\logs\trace.log" />
      </sharedListeners>
      <switches>
        <add name="System.Net.Sockets" value="Verbose" />
        <add name="Remote.Disable" value="1" />
      </switches>
-->

      <!--  
      <nuevo>
      <sources>
        <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
          <listeners>
            <add type="System.Diagnostics.DefaultTraceListener" name="Default">
              <filter type=""/>
            </add>
            <add name="ServiceModelTraceListener">
              <filter type=""/>
            </add>
          </listeners>
        </source>
        <source name="System.ServiceModel.MessageLogging"
        switchValue="Warning, ActivityTracing">
          <listeners>
            <add type="System.Diagnostics.DefaultTraceListener" name="Default">
              <filter type=""/>
            </add>
            <add name="ServiceModelMessageLoggingListener">
              <filter type=""/>
            </add>
          </listeners>
        </source>
      </sources>
      <sharedListeners>
        <add initializeData="c:\wcfLogs\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener"
        traceOutputOptions="Timestamp">
          <filter type=""/>
        </add>
        <add initializeData="c:\wcfLogs\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener"
        traceOutputOptions="Timestamp">
          <filter type=""/>
        </add>
      </sharedListeners>-->
    </system.diagnostics>
  </location>

  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>

  </system.web>
  <applicationSettings>
    <Movilway.API.Properties.Settings>
      <setting name="Movilway_API_KinacuWebService_SaleInterface" serializeAs="String">
        <value>http://ws-ve.movilway.net:5974/Sales/SaleInterface.asmx</value>
      </setting>
      <setting name="Movilway_API_KinacuLogisticsWebService_LogisticsInterface" serializeAs="String">
        <value>http://ws-co-dev.movilway.net:5974/Sales/LogisticsInterface.asmx</value>
      </setting>
      <setting name="Movilway_API_SMSDispatch_Dispatch_SMS_web__service" serializeAs="String">
        <value>http://telemo.com.ve/ws/sms/server.php</value>
      </setting>
      <setting name="Movilway_API_PSE_PSE" serializeAs="String">
        <value>https://www.enlineapagos.com:443/secure/webservices/WS_PSE.do</value>
      </setting>
      <setting name="Movilway_API_KinacuManagementWebService_ManagementInterface" serializeAs="String">
        <value>http://ws-ec-dev.movilway.net:5974/Sales/ManagementInterface.asmx</value>
      </setting>
    </Movilway.API.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>